html{
    color: green; 
}

body{
    width: 800px;
    border: solid green 1px;
}
main{
    border: 1px solid red;
    width: 80%; /*תופס 80% מהקונטיינר שלו */
    height: 90vh;
}
section{
    font-size: 24px;

}
p{
    font-size: 3rem;
}